:root {
    --highlight-color: #541616;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    background-color: #f9f9f9;
}

h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    margin: 0;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    line-height: 1.2;
    font-size: 700;
}

img {
    max-width: 100%;
}

main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
}

.text-highlight {
    color: var(--highlight-color);
}

.recipe-intro p {
    padding-left: 1.5rem;
    border-left: 1px solid #ccc;
}

.recipe-info {
    display: flex;
    justify-content: flex-start;
}

.recipe-info__item {
    display: flex;
    align-items: center;
    margin-top: 1.75rem;
}

.recipe-info__item:not(:last-child) {
    margin-right: 2.5rem;
}

.recipe-info__item img {
    display: inline-block;
    width: 20px;
    height: auto;
    margin-right: 0.5rem;
}

.recipe-info__item span {
    font-size: 0.875rem;
    line-height: 1;
    color: #4c4c4c;
}

.recipe-ingredients {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 3rem;
}

.recipe-ingredients__col:first-child {
    width: 60%;
}

@media screen and (max-width: 780px) {
    .recipe-ingredients {
        flex-direction: column;
    }

    .recipe-ingredients__col:first-child {
        width: 100%;
        max-width: 360px;
    }
}

.recipe-ingredients__list {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
}

.recipe-ingredients__list li {
    margin-bottom: 0.25rem;
}

.recipe-steps {
    margin-top: 3rem;
}

.recipe-steps__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    counter-reset: counter;
}

.recipe-steps__list li {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.875rem;
    font-size: 1.125rem;
}

.recipe-steps__list li::before {
    display: block;
    margin-right: 0.75rem;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.275rem;
    color: var(--highlight-color);
    content: counter(counter)".";
    counter-increment: counter;
}

.page-footer { 
    margin-top: 4rem;
    background: var(--highlight-color);
}

.page-footer__inner {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2.5rem 0;
    color: #fff;
}

@media screen and (max-width: 460px) {
    .page-footer__inner {
        flex-direction: column;
    }
}

.page-footer img {
    flex-shrink: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.page-footer p {
    margin: 0;
    margin-bottom: 0.75rem;
}

.page-footer a {
    color: #da9393;
}

.page-footer a:hover {
    color: #fff;
}